# ignore cases
cases/*

# ignore validation cases
validation/*

# ignore test folder
test/*

# ignore swapping files
*.swp

# ignore IPython checkpoints
*/.ipynb_checkpoints

# ignore reports folder
reports/*
